backports-abc==0.5
bokeh==0.12.16
chardet==3.0.4
Django==1.11.13
futures==3.2.0
fuzzycmeans==1.0.1
isodate==0.6.0
Jinja2==2.10
logging==0.4.9.6
MarkupSafe==1.0
numpy==1.14.3
packaging==17.1
pandas==0.23.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12
rdflib==4.2.2
singledispatch==3.4.0.3
six==1.11.0
SPARQLWrapper==1.8.2
tornado==5.0.2
